<html>
<head>
    <title>AiSL</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-color: #1abc9c;
            ;
        }
        img {
            border-radius: 2%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1 class="page-section-heading text-center text-white text-secondary mb-0">AiSL</h1>
    <img src=" {{ url_for('video_feed') }}" style="vertical-align:middle">
    <br>
</body>

</html>